
{% extends 'core/base.html' %}

{% load static %}
{% block css%}
    

{% endblock%}


{% block contenido%}


		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Confirmar<span>compra</span></h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<div class="untree_co-section">
		    <div class="container">

		      <div class="row">
		        <div class="col-md-6 mb-5 mb-md-0">
		          <h2 class="h3 mb-3 text-black">Detalles de entrega</h2>
		          <div class="p-3 p-lg-5 border bg-white">
		            <div class="form-group">
		              <label for="c_country" class="text-black"> Región <span class="text-danger">*</span></label>
		              <select id="c_country" class="form-control">
		                <option value="1">Elige una región</option>    
		                <option value="2">XV Región de Arica Y Parinacota</option>    
		                <option value="3">I Región de Tarapacá</option>    
		                <option value="4">II Región de Antofagasta</option>    
		                <option value="5">III Región de Atacama</option>    
		                <option value="6">IV Región de Coquimbo</option>    
		                <option value="7">V Región de Valparaiso</option>    
		                <option value="8">RM Región Metropolitana de Santiago</option>    
		                <option value="9">VI Región del Libertador Bernardo o'Higgins</option>    
		                <option value="10">VII Región del Maule</option>    
		                <option value="11">VIII Región del Bío-Bío</option>    
		                <option value="12">IX Región de la Araucanía</option>    
		                <option value="13">XIV Región de Los Ríos</option>    
		                <option value="14">X Región de Los Lagos</option>    
		                <option value="15">XI Región de Aysén del General Ibañez del Campo</option>    
		                <option value="16">XIV Región de Magallanes y Antártica Chilena</option>    
		              </select>
		            </div>
		            <div class="form-group row">
		              <div class="col-md-6">
		                <label for="c_fname" class="text-black">Primer Nombre <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_fname" name="c_fname">
		              </div>
		              <div class="col-md-6">
		                <label for="c_lname" class="text-black">Apellidos <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_lname" name="c_lname">
		              </div>
		            </div>

		            <div class="form-group row">
		              <div class="col-md-12">
		                <label for="c_companyname" class="text-black">Nombre de la compañía </label>
		                <input type="text" class="form-control" id="c_companyname" name="c_companyname">
		              </div>
		            </div>

		            <div class="form-group row">
		              <div class="col-md-12">
		                <label for="c_address" class="text-black">Dirección <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Nombre de la calle y numero">
		              </div>
		            </div>

		            <div class="form-group mt-3">
		              <input type="text" class="form-control" placeholder="Departamento. (opcional)">
		            </div>

		            <div class="form-group row">
		              <div class="col-md-6">
		                <label for="c_postal_zip" class="text-black">Codigo Postal <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
		              </div>
		            </div>

		            <div class="form-group row mb-5">
		              <div class="col-md-6">
		                <label for="c_email_address" class="text-black">Correo <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_email_address" name="c_email_address">
		              </div>
		              <div class="col-md-6">
		                <label for="c_phone" class="text-black">Telefono <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="+56 9 XXXXXXXX">
		              </div>
		            </div>

		            <div class="form-group">
		              <label for="c_create_account" class="text-black" data-bs-toggle="collapse" href="#create_an_account" role="button" aria-expanded="false" aria-controls="create_an_account"><input type="checkbox" value="1" id="c_create_account"> ¿Crear una cuenta?</label>
		              <div class="collapse" id="create_an_account">
		                <div class="py-2 mb-4">
		                  <p class="mb-3">Crearemos una cuenta ingresando la información a continuación. Si usted es un cliente frecuente, inicie sesión en la parte superior de la página.</p>
		                  <div class="form-group">
		                    <label for="c_account_password" class="text-black">Contraseña</label>
		                    <input type="email" class="form-control" id="c_account_password" name="c_account_password" placeholder="">
		                  </div>
		                </div>
		              </div>
		            </div>


		            <div class="form-group">
		              <label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> ¿Entregar en otra dirección?</label>
		              <div class="collapse" id="ship_different_address">
		                <div class="py-2">

		                  <div class="form-group">
							<label for="c_country" class="text-black"> Región <span class="text-danger">*</span></label>
							<select id="c_country" class="form-control">
							  <option value="1">Elige una región</option>    
							  <option value="2">XV Región de Arica Y Parinacota</option>    
							  <option value="3">I Región de Tarapacá</option>    
							  <option value="4">II Región de Antofagasta</option>    
							  <option value="5">III Región de Atacama</option>    
							  <option value="6">IV Región de Coquimbo</option>    
							  <option value="7">V Región de Valparaiso</option>    
							  <option value="8">RM Región Metropolitana de Santiago</option>    
							  <option value="9">VI Región del Libertador Bernardo o'Higgins</option>    
							  <option value="10">VII Región del Maule</option>    
							  <option value="11">VIII Región del Bío-Bío</option>    
							  <option value="12">IX Región de la Araucanía</option>    
							  <option value="13">XIV Región de Los Ríos</option>    
							  <option value="14">X Región de Los Lagos</option>    
							  <option value="15">XI Región de Aysén del General Ibañez del Campo</option>    
							  <option value="16">XIV Región de Magallanes y Antártica Chilena</option>    
							</select>
						  </div>
						  <div class="form-group row">
							<div class="col-md-6">
							  <label for="c_fname" class="text-black">Primer Nombre <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_fname" name="c_fname">
							</div>
							<div class="col-md-6">
							  <label for="c_lname" class="text-black">Apellidos <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_lname" name="c_lname">
							</div>
						  </div>
	  
						  <div class="form-group row">
							<div class="col-md-12">
							  <label for="c_companyname" class="text-black">Nombre de la compañía </label>
							  <input type="text" class="form-control" id="c_companyname" name="c_companyname">
							</div>
						  </div>
	  
						  <div class="form-group row">
							<div class="col-md-12">
							  <label for="c_address" class="text-black">Dirección <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Nombre de la calle y numero">
							</div>
						  </div>
	  
						  <div class="form-group mt-3">
							<input type="text" class="form-control" placeholder="Departamento. (opcional)">
						  </div>
	  
						  <div class="form-group row">
							<div class="col-md-6">
							  <label for="c_postal_zip" class="text-black">Codigo Postal <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
							</div>
						  </div>
	  
						  <div class="form-group row mb-5">
							<div class="col-md-6">
							  <label for="c_email_address" class="text-black">Correo <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_email_address" name="c_email_address">
							</div>
							<div class="col-md-6">
							  <label for="c_phone" class="text-black">Telefono <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="+56 9 XXXXXXXX">
							</div>
						  </div>
		                </div>

		              </div>
		            </div>

		            <div class="form-group">
		              <label for="c_order_notes" class="text-black">Notas de la orden </label>
		              <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Escribe tus notas aquí..."></textarea>
		            </div>

		          </div>
		        </div>
		        <div class="col-md-6">

		          <div class="row mb-5">
		            <div class="col-md-12">
		              <h2 class="h3 mb-3 text-black">Codigo del cupón</h2>
		              <div class="p-3 p-lg-5 border bg-white">

		                <label for="c_code" class="text-black mb-3">Ingresa tu codigo de cupón si tienes uno</label>
		                <div class="input-group w-75 couponcode-wrap">
		                  <input type="text" class="form-control me-2" id="c_code" placeholder="Codigo del cupón" aria-label="Coupon Code" aria-describedby="button-addon2">
		                  <div class="input-group-append">
		                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Aplicar</button>
		                  </div>
		                </div>

		              </div>
		            </div>
		          </div>

		          <div class="row mb-5">
		            <div class="col-md-12">
		              <h2 class="h3 mb-3 text-black">Tu orden</h2>
		              <div class="p-3 p-lg-5 border bg-white">
		                <table class="table site-block-order-table mb-5">
		                  <thead>
		                    <th>Producto</th>
		                    <th>Total</th>
		                  </thead>
		                  <tbody>
		                    <tr>
		                      <td>Top Up T-Shirt <strong class="mx-2">x</strong> 1</td>
		                      <td>$250.00</td>
		                    </tr>
		                    <tr>
		                      <td>Polo Shirt <strong class="mx-2">x</strong>   1</td>
		                      <td>$100.00</td>
		                    </tr>
		                    <tr>
		                      <td class="text-black font-weight-bold"><strong>Subtotal del carrito</strong></td>
		                      <td class="text-black">$350.00</td>
		                    </tr>
		                    <tr>
		                      <td class="text-black font-weight-bold"><strong>Total de la orden</strong></td>
		                      <td class="text-black font-weight-bold"><strong>$350.00</strong></td>
		                    </tr>
		                  </tbody>
		                </table>

		                <div class="border p-3 mb-3">
		                  <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Pago con tarjeta</a></h3>

		                  <div class="collapse" id="collapsebank">
		                    <div class="py-2">
		                      <p class="mb-0"> <div class="card-body">
						        <div class="card-details">
									<div class="row gy-3">
										<div class="col-md-6">
										  <label for="cc-name" class="form-label">Nombre propietario</label>
										  <input type="text" class="form-control" id="cc-name" placeholder="" required="">
										  <small class="text-muted">Nombre completo como aparece en la tarjeta</small>
										  <div class="invalid-feedback">
											El nombre del propietario es obligatorio
										  </div>
										</div>
							
										<div class="col-md-6">
										  <label for="cc-number" class="form-label">Numero de tarjeta</label>
										  <input type="text" class="form-control" id="cc-number" placeholder="" required="">
										  <div class="invalid-feedback">
											Numero de tarjeta es obligatorio
										  </div>
										</div>
							
										<div class="col-md-3">
										  <label for="cc-expiration" class="form-label">Fecha de expiración</label>
										  <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
										  <div class="invalid-feedback">
											Fecha de expiración es obligatorio
										  </div>
										</div>
							
										<div class="col-md-3">
										  <label for="cc-cvv" class="form-label">CVV</label>
										  <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
										  <div class="invalid-feedback">
											Codigo de seguridad es obligatorio
										  </div>
										</div>
									  </div>
						        </div>
						      </div>
						  </p>
		                    </div>
		                  </div>
		                </div>


		                <div class="form-group">
		                  <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='{% url 'thankyou' %}';">Realizar orden</button>
		                </div>

		              </div>
		            </div>
		          </div>

		        </div>
		      </div>
		      <!-- </form> -->
		    </div>
		  </div>
		  {% endblock%}	

{% block js%}
    

{% endblock%}